<div class="about">
<h1>Welcome to the New Wave of Marketing Research!</h1>

<div class='about1'>
<p id='p1'>Brand-Pix represents a unique opportunity for companies to gain unparalleled
marketing information through the use of crowd-sourcing.  The company, which
was formed in the spring of 2016, has risen quickly in the ranks as a coveted marketing tool.
Providing valuable insight for all of its partners is at the core of the Brand-Pix misison,
helping them to, in turn, make more informed marketing decisions. Since
it's inception, it's partners have grown to include top performing companies who
have recognized the importance of getting to know their consumers. Those partners
include companies such as Nike, Louis Vutton, Coca-Cola, Yuengling, and an ever
expanding list.</p>
</div>

<div class='about2'>
<p id='p2'>"I'm not sure what took so long for Brand-Pix to come along, but we're happy
  it did! <strong>-Mark Parker</strong>, <em>CEO of Nike</em>"</p>
</div>

<div class='about3'>
<p id='p3'>"Brand-Pix has saved us the cost of manufacturing products that the consumer
  neither desires or feels the need to buy. We can now target our customers,
  delivering a product that they are more than satisfied with. <strong>-Michael Burke</strong>,
  <em>CEO of Louis Vutton</em>"</p>
</div>

</div>


<div class="team">
<h3>Meet the Brand-Pix Team!</h3>
<ul>
<li><%= image_tag("Jhlechia_Qureshi.png", width: "200px", alt: "Jhlechia Qureshi") %>
<p>Jhlechia Qureshi</p></li>
<li><%= image_tag("Robinson_Burkey.png", width: "200px", alt: "Robinson Burkey") %>
<p>Robinson Burkey</p></li>
<li><%= image_tag("Nadia_Bharose.png", width: "200px", alt: "Nadia Bharose") %>
<p>Nadia Bharose</p></li>
<li><%= image_tag("Mitch_McBee.png", width: "200px", alt: "Mitch McBee") %>
<p>  Mitch Mcbee</p></li>
</div>
