<div class="about">
<h1>Welcome to the New Wave of Marketing Research!</h1>

<p>Brand-Pix represents a unique opportunity for companies to gain unparalleled
marketing information through the use of crowd-sourcing techniques.  The company
was formed in the spring of 2016 and has been providing valuable insight for all
of it's partners, helping them to make more informed marketing decisions.</p>



<h3>Meet the Brand-Pix Team!</h3>

<img src="Jhlechia_Qureshi.png" alt="Jhlechia Qureshi" height="15" width="15"></img>
<p>Jhlechia Qureshi</p>
<img src="Robinson_Burkey.png" alt="Jhlechia Qureshi" height="15" width="15"></img>
<p>Robinson Burkey</p>
<img src="Mitch_Mcbee.png" alt="Jhlechia Qureshi" height="15" width="15"></img>
<p>Mitch Mcbee</p>
<img src="Nadia_Bharose.png" alt="Jhlechia Qureshi" height="15" width="15"></img>
<p>Nadia Bharose</p>
</div>
