<div class="about">
<h1>Welcome to the New Wave of Marketing Research!</h1>

<p>Brand-Pix represents a unique opportunity for companies to gain unparalleled
marketing information through the use of crowd-sourcing.  The company, which
was formed in the spring of 2016, has been providing valuable insight for all
of it's partners, helping them to make more informed marketing decisions. Since
it's inception, it's partners have grown to include top performing companies who
have recognized the importance of getting to know their consumers. Those partners
include companies such as Nike, Louis Vutton, Coca-Cola, Yuengling, and an ever
expanding list.</p>

<p> "I'm not sure what took so long for Brand-Pix to come along, but we're happy
  it did! -Mark Parker, <em>CEO of Nike</em>"

<p>"Brand-Pix has saved us the cost of manufacturing products that the consumer
  neither desires or feels the need to buy. We can now target our customers,
  delivering a product that they are more than satisfied with. -Michael Burke,
  <em>CEO of Louis Vutton</em>"</p>



<h3>Meet the Brand-Pix Team!</h3>

<img src="Jhlechia_Qureshi.png" alt="Jhlechia Qureshi" height="15" width="15"></img>
<p>Jhlechia Qureshi</p>
<img src="Robinson_Burkey.png" alt="Jhlechia Qureshi" height="15" width="15"></img>
<p>Robinson Burkey</p>
<img src="Mitch_Mcbee.png" alt="Jhlechia Qureshi" height="15" width="15"></img>
<p>Mitch Mcbee</p>
<img src="Nadia_Bharose.png" alt="Jhlechia Qureshi" height="15" width="15"></img>
<p>Nadia Bharose</p>
</div>
