#page-top {
  background-color: #f6f1ed;
}

#contact {
  background-image: url('https://static.pexels.com/photos/38132/pexels-photo-38132-medium.jpeg');
  background-position: center;
  background-size: cover;
}

#contact h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #16174f;

}

.about{
  margin-top: 100px;
  margin-left: 100px;
}
